@mixin button($color: green) {
  padding: 3px;
  min-width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  text-align: center;
  color: rgba(0, 0, 0, .7);

  & i {
    font-size: 18px;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}


@mixin clear-list() {
  margin: 0;
  padding: 0;
  list-style: none;
}
